# Copyright (c) 2016 Lonneke Scheffer & Wout van Helvoirt
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Name: Photon Image Processor
# Author: Lonneke Scheffer & Wout van Helvoirt
# Version: 1.0-SNAPSHOT

# The format is: <menu>[submenu], "<menu label>", <class name>[if necessary: arguments]
#
# If something like ("about") is appended to the class name, the setup() method
# will get that as a argument parameter; otherwise argument is a empty string.
#
# Note: for ImageJ/Fiji to recognize plugin, jar and class file need underscore
# in the file name.

# Add functional classes to plugins menu in Fiji.
Plugins>Photon Image Processor, "Process Photon Images", Photon_Image_Processor
Plugins>Photon Image Processor, "Threshold Photon Count", Image_Thresholder

# Add help page to about plugins in Fiji.
Help>About Plugins, "Photon Image Processor...", Photon_Image_Processor("about")