# Name: Photon Image Processor
# Author: Lonneke Scheffer & Wout van Helvoirt
# Version: 1.0-SNAPSHOT

# The format is: <menu>[submenu], "<menu label>", <class name>[if necessary: arguments]
#
# If something like ("about") is appended to the class name, the setup() method
# will get that as a argument parameter; otherwise argument is a empty string.
#
# Note: for ImageJ/Fiji to recognize plugin, jar and class file need underscore
# in the file name.

# Add functional class to plugins menu in Fiji.
Plugins, "Photon Image Processor", Photon_Image_Processor

# Add help page to about plugins in Fiji.
Help>About Plugins, "Photon Image Processor...", Photon_Image_Processor("about")